h2 {
  border-bottom: 1px solid red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  font-family: "Gluten", cursive;
  font-size: 25px;
  line-height: 10px;
  /* 1px = 1/96th of inch */
}
span {
  font-weight: bold;
  font-style: oblique;
  color: red;
}
