body {
  background: #f4f8f9;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

input#menu {
  display: none;
}
.icon {
  background: #fff;
  cursor: pointer;
  display: block;
  height: 40px;
  padding: 16px;
  width: 24px;
}
label.icon {
  position: fixed;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #9fb1bd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 20px;
}
.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #ff0c0c;
}
.icon .menu {
  left: 18px;
  top: 27px;
}
.icon .menu::before {
  top: -6px;
}
.icon .menu::after {
  top: 6px;
}

#menu:checked + .icon .menu {
  background: transparent;
}
#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}
#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease 0.2s, transform ease 0.1s 0.3s;
}

nav {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding-top: 60px;
  position: fixed;
  transition: width ease 0.6s;
  width: 60px;
  z-index: 100;

  overflow: hidden;
}

#menu:checked ~ nav {
  width: 150px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 200px;
}
nav li {
  cursor: pointer;
  display: flex;
  line-height: 60px;
  padding-left: 20px;
  white-space: nowrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav li:hover {
  background: #fc5185;
  color: #fff;
}
nav li:hover i {
  color: #fff;
}
nav i {
  color: #9fb1bd;
  margin-right: 24px;
  vertical-align: text-bottom;
}
