* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 950px;
  margin: 30px 25px;
  padding: 10px 10px;
  background-color: antiquewhite;
  border: rgb(95, 47, 47) 1px solid;
  border-radius: 5px;
}
p {
  padding-left: 10px;
  text-align: justify;
}
h3 {
  padding-bottom: 10px;
}
